* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li a {
  color: white;
}
li a:hover,
li a.active {
  color: #928f8f;
}
li {
  margin: 1.5rem 1rem;
}
.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn {
  padding: 0.8rem 1.5rem;
  border: 1px solid white;
  background-color: #242323;
  color: white;
}
.btn:hover {
  background-color: white;
  color: #242323;
}
.navbar {
  width: 100%;
  height: 13vh;
  background-color: #242323;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-text {
  margin-top: 10%;
  margin-bottom: 6%;
  text-align: center;
  font-style: italic;
}
.page-text h1 {
  font-size: 3rem;
}
.page-text p {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.img-container {
  width: 70vw;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.booking {
  width: 65vw;
  height: 20vh;
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.person-counter {
  height: 50%;
  width: 10%;
  margin: 0 0.5rem;
}
.person-counter p,
.date-picker-wrapper p {
  font-size: 0.8rem;
  margin: 0.2rem 0;
}
.counts {
  outline: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counts span {
  margin: 0 1rem;
}
.counter-btn {
  display: flex;
  flex-direction: column;
}
.person-counter span.counter-btn .arrow-btn {
  color: #242323;
  font-size: 1.3rem;
  cursor: pointer;
}
span.counter-btn .arrow-btn:hover {
  background-color: #242323;
  color: white;
}
span.counter-btn .disabled {
  color: #7c7c7c;
  font-size: 1.3rem;
}
.booking div.search-btn {
  margin: 0 0.5rem;
  height: 100%;
}
.booking div.search-btn button {
  margin: 3.5rem 0;
  padding: 0.7rem 4rem;
  background-color: #242323;
  color: white;
  cursor: pointer;
}
.App div.chat {
  background-color: #242323;
  font-size: 2rem;
  height: 10%;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  cursor: pointer;
}
.App .social-media-warpper {
  height: 30%;
  position: fixed;
  top: 30%;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.App .social-media-warpper .social-media-icons {
  font-size: 1.8rem;
  cursor: pointer;
}
.date-picker-wrapper {
  height: 50%;
  margin: 0 0.5rem;
  cursor: pointer;
}
.date-picker-wrapper .date-picker {
  outline: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 100%;
}
.date-picker-wrapper .date-picker .custom-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.date-picker-wrapper .date-picker .custom-input p {
  font-size: 1rem;
}
.date-picker-wrapper .date-picker .custom-input p,
.calender-icon {
  margin: 0 1rem;
}
.navbar .navbar-btn {
  display: flex;
}
.navbar .navbar-btn .mobile-menu,
ul.mobile-nav {
  display: none;
}

@media screen and (max-width: 1065px) {
  li a,
  .btn {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 875px) {
  li a,
  .btn {
    font-size: 0.6rem;
  }
  .page-text h1 {
    font-size: 2rem;
  }
  .page-text p {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 805px) {
  li {
    margin: 1rem 0.6rem;
  }
  .btn {
    padding: 0.4rem 1rem;
  }
  .page-text {
    margin-top: 15%;
    margin-bottom: 8%;
  }
}
@media screen and (max-width: 660px) {
  li {
    margin: 0.7rem 0.4rem;
  }
  .btn {
    padding: 0.3rem 0.7rem;
  }
  .page-text {
    margin-top: 16%;
  }
  .counts span {
    margin: 0 0.5rem;
  }
  .img-container {
    width: 100vw;
    height: 60vh;
  }
  .App .social-media-warpper {
    background-color: white;
    width: 30px;
    top: 40%;
    right: 0;
  }
  .App .social-media-warpper .social-media-icons {
    font-size: 1.2rem;
  }
  .App div.chat {
    height: 7%;
    width: 3%;
    left: 0;
  }
}
@media screen and (max-width: 590px) {
  .page-text {
    margin-top: 18%;
  }
  .navbar .navbar-btn .mobile-menu {
    display: block;
  }
  .navbar {
    height: 10vh;
  }
  li a,
  .btn {
    font-size: 1rem;
  }
  .nav-links {
    display: none;
  }
  .navbar .navbar-btn .mobile-menu {
    display: block;
    margin: 0 2rem;
    padding: 0 0.3rem;
    padding-top: 0.4rem;
    outline: 1px solid white;
    color: white;
    cursor: pointer;
  }
  ul.mobile-nav {
    position: absolute;
    list-style-type: none;
    top: 10vh;
    width: 100vw;
    height: 90vh;
    background-color: rgba(36, 35, 35, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .App div.chat {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    left: 85%;
    bottom: 2rem;
    font-size: 1.5rem;
    z-index: -1;
  }
  .person-counter {
    margin: 0.5rem 0.5rem;
    width: 34%;
  }
  .date-picker-wrapper {
    margin: 0.5rem;
  }
  .booking div.search-btn button {
    margin: 1.5rem 0;
  }
  .App .social-media-warpper {
    position: absolute;
    margin: 20px 0;
    background-color: none;
    width: 50%;
    height: 10%;
    top: 150%;
    left: 25%;
    display: flex;
    flex-direction: row;
    z-index: -1;
  }
}
